.App {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.post-card{
    height: 40vw;
    width: 60vw;
    margin: 4vw;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.flip-card-toggle-on {
    /* .flip-card-inner { */
    transform: rotateY(180deg);
}

.flip-card-toggle-off {
    /* .flip-card-inner { */
    transform: rotateY(-180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  display: flex;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  display: flex;
}

.front-img {
    width: 100%;
    height: 100%;
}

.writing {
    padding: 6vmin;
}

.left-content {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.stamp-container {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width: 100%;
}
.stamp {
    margin: 2vw;
    height: 16vw;
    overflow: hidden;
    object-fit:contain;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    z-index: 1;
}
.addressBox {
    height:50%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}
.address {
    border-bottom: 3px red solid;
    width: 80%;
    margin: 2vw;
}

#mapId {
    height: 12vw;
    width: 16vw;
}
